* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


.header {
    height: 90vh;
    width: 100%;
    background-image: url("photos/volvo.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 130px;
    margin-top: 20px;
}

.header ul {
    list-style-type:none ;
    display: flex;
    margin-top: 10px;
}

.header ul li {
    padding: 8px;
}

.header ul li a {
    text-decoration: none;
    color: white;
}

.header-content p {
    color: white;
    font-family: VolvoBroadProDigital,Arial,sans-serif;
    font-weight:bolder;
    /* letter-spacing: 0.6em; */
    /* line-height: 1.18em; */
    position: absolute;
    top: 60%;
    left: 60%;
    font-size: 46px;
}

.explore-volvo {
    width: 100%;
    height: 90vh;
    padding: 10px 5%;
    position: relative;
}

.explore-volvo h2 {
    font-size: .75rem;
    padding-top: .45933em;
    padding-bottom: .42333em;
    color: #4d4e53;
}

.explore-volvo p {
    font-size: 2rem;
    margin-bottom: .3125em;
    font-weight: 700;
    color: #4d4e53;
}


.boxes-area {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    /* padding: 10px 5%; */
}

.boxes {
    position: relative;
    height: 80%;
    width: 350px;
    border: 1px transparent;
    margin: 0 18px;
    cursor: pointer;
    /* margin-left: -5px; */
}

.boxes img {
    height: 100%;
    width: 100%;
}

.boxes-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.boxes-text h2 {
    margin-bottom: 20px;
    color: white;
}

.boxes-text p {
    color: white;
}

.career {
    width: 100%;
    height: 200vh;
    padding: 10px 5%;
    position: relative;
}

.career-boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 10px;
}



.career-box {
    position: relative;
    height: 70%;
    width: 600px;
    border: 1px transparent;
    margin: 0 17px;
}

.career-box2 {
    position: relative;
    height: 55%;
    width: 600px;
    border: 1px transparent;
    margin: 0 17px;
    cursor: pointer;
}

.career-box3 {
    position: relative;
    height: 55%;
    width: 600px;
    border: 1px transparent;
    margin: 0 17px;
}



.career h2 {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.5;
    padding-top: .45933em;
    padding-bottom: .42333em;
    margin-bottom: 0em;
    color: #4d4e53;
}

.career p {
    font-size: 2rem;
    font-family: var(--ff-header);
    font-weight: 700;
    letter-spacing: var(--ls-header);
    line-height: 1.18em;
    color: #4d4e53;
}


.career img {
    height: 100%;
    width: 100%;
}


.buttons {
    display: flex;
    margin-top: 18px;
    margin-left: -12px;
}


.career-btn {
    margin: 0 10px;
    border: 1px solid #1251b5;
    padding:12px 42px;
    background-color: #1251b5;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.5;
    position: relative;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: #131313;
    color: white;
    display: flex;
    padding: 50px 100px;
}

.footer-side {
    margin: 10px 120px;
}

.footer ul {
    list-style-type:none ;
    margin-top:30px ;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding: 0 0px;
    font-size: 25px;

}

.footer h2 {
    color: #e1dfdd;
    font-size: 12px;
}

@media screen and (max-width:480px) {
    .header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        padding: 18px 15px 0 24px;
        height: 720px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo img{
        width: 100px;
        margin-top: 5px;
        margin-left: -10px;
    }

    .header-content {
        
    }

   
}


/* --------------- volvo cars page -------------- */
    

.header-cars {
    height: 80vh;
    width: 100%;
    background-image: url("https://www.volvocars.com/images/v/-/media/applications/locationselector/STE_1920x1080.jpg?w=1920");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

.header-cars p{
    font-family: VolvoBroadProDigital,Arial,sans-serif;
    font-weight:bolder;
    font-size:xx-large;
    color: white;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 17%;
}

.cars-top {
    height: 6vh;
    width: 100%;
    background-color: white;
    color: #131313;
}

.cars-top p {
    font-family: Volvo Broad, Arial Black, sans-serif;
    font-weight:bolder;
    font-size:larger;
    margin-top: 1rem;
    margin-left: 2rem ;
}

.cars-btn {
    margin: 0 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 12px 12px;
    display: inline-block;
    /* font-size: 1rem;
    font-weight: 400; */
    letter-spacing: .2px;
    line-height: 1.5;
    position: relative;
    top: 25%;
    left: 40%;
}