* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


.header {
    height: 120vh;
    width: 100%;
    background-image: url("photos/volvo.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 130px;
    margin-top: 20px;
}

.header ul {
    list-style-type:none ;
    display: flex;
    margin-top: 10px;
}

.header ul li {
    padding: 8px;
}

.header ul li a {
    text-decoration: none;
    color: white;
}

.header-content p {
    color: white;
    font-family: VolvoBroadProDigital,Arial,sans-serif;
    font-weight:bolder;
    /* letter-spacing: 0.6em; */
    /* line-height: 1.18em; */
    position: absolute;
    top: 60%;
    left: 60%;
    font-size: 46px;
}

.explore-volvo {
    width: 100%;
    height: 110vh;
    padding: 10px 5%;
    position: relative;
}

.explore-volvo h2 {
    font-size: .75rem;
    padding-top: .45933em;
    padding-bottom: .42333em;
    color: #4d4e53;
}

.explore-volvo p {
    font-size: 2rem;
    margin-bottom: .3125em;
    font-weight: 700;
    color: #4d4e53;
}


.boxes-area {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 50px;
    /* padding: 10px 5%; */
}

.boxes {
    position: relative;
    height: 100%;
    width: 350px;
    border: 1px transparent;
    margin: 0 17px;
    cursor: pointer;
}

.boxes img {
    /* object-fit: cover; */
    /* object-position: center; */
    height: 100%;
    width: 100%;
}

.boxes-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.boxes-text h2 {
    margin-bottom: 20px;
    color: white;
}

.boxes-text p {
    color: white;
}

.career {
    width: 100%;
    height: 170vh;
    padding: 10px 5%;
    position: relative;
    
}

.career-boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 50px;
    
}

.career-box {
    position: relative;
    height: 85%;
    width: 600px;
    border: 1px solid black;
    margin: 0 17px;
    cursor: pointer;
}
    