html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


.header {
    height: 90vh;
    width: 100%;
    background-image: url("photos/volvo.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 130px;
    margin-top: 20px;
}

.header ul {
    list-style-type:none ;
    display: flex;
    margin-top: 10px;
}

.header ul li {
    padding: 8px;
}

.header ul li a {
    text-decoration: none;
    color: white;
}

.header-content p {
    color: white;
    font-family: VolvoBroadProDigital,Arial,sans-serif;
    font-weight:bolder;
    /* letter-spacing: 0.6em; */
    /* line-height: 1.18em; */
    position: absolute;
    top: 60%;
    left: 60%;
    font-size: 46px;
}

.explore-volvo {
    width: 100%;
    height: 90vh;
    padding: 10px 5%;
    position: relative;
}

.explore-volvo h2 {
    font-size: .75rem;
    padding-top: .45933em;
    padding-bottom: .42333em;
    color: #4d4e53;
}

.explore-volvo p {
    font-size: 2rem;
    margin-bottom: .3125em;
    font-weight: 700;
    color: #4d4e53;
}


.boxes-area {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    /* padding: 10px 5%; */
}

.boxes {
    position: relative;
    height: 80%;
    width: 350px;
    border: 1px transparent;
    margin: 0 18px;
    cursor: pointer;
    /* margin-left: -5px; */
}

.boxes img {
    height: 100%;
    width: 100%;
}

.boxes-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.boxes-text h2 {
    margin-bottom: 20px;
    color: white;
}

.boxes-text p {
    color: white;
}

.career {
    width: 100%;
    height: 200vh;
    padding: 10px 5%;
    position: relative;
}

.career-boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 10px;
}



.career-box {
    position: relative;
    height: 70%;
    width: 600px;
    border: 1px transparent;
    margin: 0 17px;
}

.career-box2 {
    position: relative;
    height: 55%;
    width: 600px;
    border: 1px transparent;
    margin: 0 17px;
    cursor: pointer;
}

.career-box3 {
    position: relative;
    height: 55%;
    width: 600px;
    border: 1px transparent;
    margin: 0 17px;
}



.career h2 {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 1.5;
    padding-top: .45933em;
    padding-bottom: .42333em;
    margin-bottom: 0em;
    color: #4d4e53;
}

.career p {
    font-size: 2rem;
    font-family: var(--ff-header);
    font-weight: 700;
    letter-spacing: var(--ls-header);
    line-height: 1.18em;
    color: #4d4e53;
}


.career img {
    height: 100%;
    width: 100%;
}


.buttons {
    display: flex;
    margin-top: 18px;
    margin-left: -12px;
}


.career-btn {
    margin: 0 10px;
    border: 1px solid #1251b5;
    padding:12px 42px;
    background-color: #1251b5;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.5;
    position: relative;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: #131313;
    color: white;
    display: flex;
    padding: 50px 100px;
}

.footer-side {
    margin: 10px 120px;
}

.footer ul {
    list-style-type:none ;
    margin-top:30px ;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding: 0 0px;
    font-size: 25px;

}

.footer h2 {
    color: #e1dfdd;
    font-size: 12px;
}

@media screen and (max-width:480px) {
    .header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        padding: 18px 15px 0 24px;
        height: 720px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo img{
        width: 100px;
        margin-top: 5px;
        margin-left: -10px;
    }

    .header-content {
        
    }

   
}


/* --------------- visit cars page -------------- */
    

.header-cars {
    height: 72vh;
    width: 100%;
    background-image: url("https://www.volvocars.com/images/v/-/media/applications/locationselector/STE_1920x1080.jpg?w=1920");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

.header-cars p{
    font-family: VolvoBroadProDigital,Arial,sans-serif;
    font-weight:bolder;
    font-size:xx-large;
    color: white;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 17%;
}

.visit-top {
    height: 6vh;
    width: 100%;
    background-color: white;
    color: #131313;
}

.cars-top p {
    font-family: Volvo Broad, Arial Black, sans-serif;
    font-weight:bolder;
    font-size:larger;
    margin-top: 1rem;
    margin-left: 2rem ;
}

.cars-btn {
    margin: 0 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 12px 12px;
    display: inline-block;
    /* font-size: 1rem;
    font-weight: 400; */
    letter-spacing: .2px;
    line-height: 1.5;
    position: relative;
    top: 25%;
    left: 40%;
    transition: .3s;
}


.cars-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}





.int-sites {
    width: 100%;
    height: 35vh;
    background-color: white;
    color: #131313;
}

.int-sites p {
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2rem;
    position: relative;
    top: 15%;
}

.int-sites a {
    text-decoration: none;
    font-weight: bold;
    font-size: .75rem;
    padding: 0 20px;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    top: 30%;
    left: 30%;
    color: #1c6bba;
}


.int-sites a:hover {
    color: #131313;
    cursor: pointer;
}



/* --------------- volvo cars page -------------- */



.cars-top {
    overflow: hidden;
    /* position: fixed; */
    display: flex;
    height: 7vh;
    width: 100%;
    top: 0;
    background-color: white;
    color: #131313;
    justify-content: space-between;
    align-items: center;
}

.cars-top ul {
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}

.cars-top li {
    list-style: none;
    
}

.cars-top a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 10px;
    font-size: .8rem;
    letter-spacing: 1px;
}


.ex90 {
    width: 100%;
    height:70vh;
    background-image: url("photos/volvocar.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}


.ex90-text {
    position: relative;
    top: 20%;
    left: 2%;
}

.ex90-text h2 {
    font-size: 1rem;
    letter-spacing: .5px;
}

.ex90-text p {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px
}

.ex90-btn {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 20px;
    font-weight: bold;
    font-size: .9rem;
    color: white;
    background-color: black;
    transition: .4s;
}


.ex90-btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 1px solid white;
}



.recharge-text {
    text-align: center;
    position: relative;
    top: 10%;
}

.recharge-models {
    width: 100%;
    height: 25vh;
}


.recharge-models h2 {
    margin-top: 5vh;
    font-size: 2rem;
    font-weight:600;
}

.recharge-models ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 31%;
}

.recharge-models li {
    padding: 0 15px;
    margin-top: 60px;
}

.recharge-models a {
    text-decoration: none;
    color: rgb(56, 55, 55);
}

.cars-area {
    width: 100%;
    height: 55vh;
}

.car-boxes {
    width: 100%;
    height: 40vh;
    display: flex;
    text-align: justify;
    /* margin-left: 10px; */
}



.car-box {
    display: flex;
    width: 23%;
    height: 100%;
    margin:0 12px;
    cursor: pointer;
}


.car-box h2 {
    padding-top: 6px;
    color: grey;
    font-size: 1rem;
    cursor: pointer;
}


.car-box h2:hover {
    color: #1c6bba;
}


.car-box p {
    margin-top: -7px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
}


.car-box p:hover {
    color: #1c6bba;
}


.car-box span {
    color: grey;
    font-weight:500;
    font-size: .9rem;
}

.car-box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
} 

.car-box img:hover {
    transform: scale(1.1);
}

.text-below {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.text-below a {
    text-decoration: none;
    color: #1c6bba;
    font-size: .9rem;
}

.text-below a:hover {
    color: black;
}

.re-charge {
    width: 100%;
    height: 20vh;
}


.re-charge {
    width: 100%;
    height: 20vh;
    margin-bottom: 100px;
}

.recharge-links {
    position: relative;
    top: 80%;
    left: 40%;
    
}

.recharge-links a {
    text-decoration: none;
    color: #1c6bba;
    font-size: .9rem;
    padding: 0 20px;
}


.why-volvo {
    width: 95%;
    height: 150vh;
    margin: auto;
    background-color: rgb(255, 254, 254);
}

.why-volvo h2 {
    color:#131313;
    font-weight: bold;
    font-size: 1.9rem;
    position: relative;
    left: 44%;
    top: 5%;
}

 .why-volvo img {
    width: 90%;
    height: 35%;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    top: 13%;
    left: 5%;
} 

.whyvolvo-text {
    display: flex;
    position: relative;
    left: 3%;
}

.why-text {
    position: relative;
    top: 250px;
    display: inline-block;
    padding: 0 20px;
}

.why-text h2 {
    font-size: 1.2rem;
    /* text-align: left; */
    margin-bottom: 20px;
    position: relative;
    left: 0;
}

.why-text p {
    font-size: .9rem;
    color: rgb(129, 129, 129);
    align-items: flex-end;
}

.learn-morebtn {
    position: relative;
    top: 22%;
    left: 40%;
    margin-top: 50px;
}

.learn-morebtn button {
    border: 1px solid #1c6bba;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: white;
    color: #1c6bba;
    font-weight: 600;
    transition: .4s;
}

.learn-morebtn button:hover {
    border: 1px solid transparent;
    color: white;
    background-color: #1c6bba;
    cursor: pointer;
}